.container{
	margin: 0 auto;
	max-width: 900px;
}
#universities-header img{
	width: 200px;
}
.flipster__item{
	text-align: center;
}
.flipster__item .title{
	display: none;
}
.flipster__item.flipster__item--current .title{
	display: block;
}

#university-description{
	text-align: center;
}

#university-course-list{
	list-style-type: none;
}
.course_image_container{
	width: 200px;
	height: 200px;
	overflow: hidden;
}
.course_box{
	box-sizing: border-box;
	width: 50%;
	display: inline-block;
	padding: 1em;
}



