.DS_Store
*.sublime-project
*.sublime-workspace
**/.sass-cache/*
.sass-cache
.sass-cache/*
node_modules/*
*.png
*.gif
*.bmp
*.jpg
*.jpeg
*.svg
*.ico
Thumbs.db
*.ttf
*.otf
*.eot
*.woff
*.zip
css/style.css
js/app.js
js/app.min.js
js/app.js.map