<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Catalog</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="css/jquery.flipster.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css"/>
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    </head>
    <body>
    <div id="main-content">
        <div>
    	   <div id="universities-header"></div>
            <div id="university-description"></div>
        </div>
    	<div id="courses-container"></div>
    </div>
    

    <script type="text/template" id="university-item-template">
    	<div><img src="<%= model.logo_url %>" alt="<%= model.name %> logo"></div>
    	<div class="title"><%= model.name %></div>
    </script>
    <script type="text/template" id="university-description-template">
        <div><h2><a href="<%= model.url %>"><%= model.name %></a></h2></div>
    </script>
    <script type="text/template" id="course-template">
        <div class="course_image_container"><img src="<%= model.image_url %>" alt="<%= model.title %>"></div>
        <div><h3><%= model.title %></h3></div>
        <div><%= model.description %></div>
    </script>

	<script type="text/javascript" src="js/vendor/jquery-2.2.1.min.js"></script>
	<script src="js/vendor/jquery.flipster.min.js"></script>
	<script type="text/javascript" src="js/vendor/underscore-min.js"></script>
	<script type="text/javascript" src="js/vendor/backbone-min.js"></script>
	<script type="text/javascript" src="js/vendor/backbone.marionette.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
    </body>
</html>